@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Source+Code+Pro:wght@300&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "Inter", sans-serif;
}

#page-container {
	position: relative;
	min-height: 100vh;
}

:root:not(.dark-mode) {
	--primary-color: #ffffff;
	--secondary-color: rgb(25, 22, 21);
	--tertiary-color: rgb(25, 22, 21);
	--quartiary-color: rgb(78, 76, 76);
	--five-color: rgb(0, 0, 0, 0.2);
	--six-color: rgb(128, 126, 126);
	--seven-color: rgb(25, 22, 21);
	--eight-color: rgb(245, 246, 250);
	--nine-color: rgb(219, 221, 226);
	--ten-color: rgba(255, 255, 255, 0.5);
	--eleven-color: rgba(255, 255, 255, 0.5);
	--twelve-color: rgb(0, 0, 0);
	--thirteen-color: rgba(0, 0, 0, 0.575);
}

.dark-mode {
	--primary-color: #141414;
	--secondary-color: rgb(255, 255, 255, 0.9);
	--tertiary-color: rgb(0, 0, 0);
	--quartiary-color: rgb(255, 255, 255, 0.9);
	--five-color: rgb(255, 255, 255, 0.4);
	--six-color: rgb(255, 255, 255, 0.9);
	--seven-color: rgb(255, 255, 255);
	--eight-color: rgb(38, 38, 39);
	--nine-color: rgba(77, 75, 75, 0.9);
	--ten-color: rgba(0, 0, 0, 0.5);
	--eleven-color: rgba(255, 255, 255, 0.063);
	--twelve-color: rgba(255, 255, 255, 0.959);
	--thirteen-color: rgba(160, 160, 160, 0.959);
}

body {
	background: var(--primary-color);
}

#dark-mode-icon {
	width: 1.5rem;
	height: 1.5rem;
	cursor: pointer;
	position: relative;
	margin-right: 5rem;
	text-decoration: none;
	top: 0.25rem;
}

#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 99;
	position: fixed;
	width: 100%;
	padding: 1.5rem 2rem;
	background: var(--tertiary-color);
	pointer-events: all;
}

#header.disable-header {
	pointer-events: none;
}

.logo {
	font-size: 2rem;
	color: #fff;
	user-select: none;
	cursor: pointer;
}

.logo a {
	color: #fff;
	text-decoration: none;
}

.navigation a {
	position: relative;
	font-size: 1.3rem;
	font-weight: 700;
	color: #fff;
	margin-right: 5rem;
	text-decoration: none;
}

.navigation a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -0.3rem;
	width: 100%;
	height: 0.2rem;
	background: #fff;
	border-radius: 1rem;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform 0.5s;
}

.navigation a:hover::after {
	transform-origin: left;
	transform: scaleX(1);
}

.navigation .btnLogin {
	width: 7.5rem;
	height: 2.3rem;
	background: transparent;
	border: 0.15rem solid #fff;
	border-radius: 0.5rem;
	outline: none;
	font-size: 1.3rem;
	font-weight: 700;
	color: #fff;
	margin-right: 5rem;
	cursor: pointer;
	transition: 0.5s;
}

.navigation .btnLogin:hover {
	background: #fff;
	color: rgb(25, 22, 21);
}

.wrapper {
	position: relative;
	margin: 2rem auto;
	width: 27rem;
	height: 30rem;
	background: transparent;
	border: 0.2rem solid rgb(219, 221, 226);
	border-radius: 2rem;
	backdrop-filter: blur(2rem);
	box-shadow: 0 0 1.7rem var(--five-color);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transform: scale(0);
	transition: transform 0.2s ease, height 0.2s ease;
}

.wrapper.active-popup {
	transform: scale(1);
}

.wrapper.active {
	height: 40rem;
}

.wrapper .form-box {
	width: 80%;
	padding: 2rem;
}

.wrapper .form-box.login {
	transition: transform 0.18s ease;
	transform: translateX(0);
}

.wrapper.active .form-box.login {
	transition: none;
	transform: translateX(-400px);
}

.wrapper .form-box.register {
	position: absolute;
	padding: 4rem;
	transition: none;
	transform: translateX(27rem);
}

.wrapper.active .form-box.register {
	transition: transform 0.18s ease;
	transform: translateX(0);
}

.wrapper .icon-close {
	position: absolute;
	top: 0;
	right: 0;
	width: 4rem;
	height: 4rem;
	font-size: 2rem;
	color: var(--secondary-color);
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom-left-radius: 2rem;
	cursor: pointer;
	z-index: 1;
}

.form-box h2 {
	font-size: 2.5rem;
	color: var(--secondary-color);
	text-align: center;
}

.input-box {
	position: relative;
	width: 100%;
	height: 3rem;
	border-bottom: 0.2rem solid var(--secondary-color);
	margin: 2rem 0;
}

.input-box input {
	color: var(--secondary-color);
}

.input-box label {
	position: absolute;
	top: 50%;
	left: 0.3rem;
	transform: translateY(-50%);
	font-size: 1rem;
	color: var(--secondary-color);
	font-weight: 500;
	pointer-events: none;
	transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
	top: -0.3rem;
}

.input-box input {
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	font-size: 1rem;
	font-weight: 600;
	padding: 0 1rem 0 0.2rem;
}

.input-box .icon {
	position: absolute;
	right: 0.4rem;
	font-size: 1.4rem;
	color: var(--secondary-color);
	line-height: 3.8rem;
}

.remember-forgot {
	font-size: 0.9rem;
	color: var(--secondary-color);
	font-weight: 2rem;
	margin: -1rem 0 1rem;
	display: flex;
	justify-content: space-between;
}

.remember-forgot label input {
	accent-color: var(--secondary-color);
	margin-right: 0.4rem;
}

.remember-forgot a {
	color: var(--secondary-color);
	text-decoration: none;
}

.remember-forgot a:hover {
	text-decoration: underline;
}

.btn {
	width: 100%;
	height: 2.5rem;
	background: var(--secondary-color);
	border: none;
	outline: none;
	border-radius: 0.4rem;
	cursor: pointer;
	font-size: 1rem;
	color: var(--primary-color);
	font-weight: 500;
}

.login-register {
	font-size: 1rem;
	color: var(--secondary-color);
	text-align: center;
	font-weight: 500;
	margin: 1rem 0 1rem;
}

.login-register p a {
	color: var(--secondary-color);
	text-decoration: none;
	font-weight: 600;
}

.login-register p a:hover {
	text-decoration: underline;
}

.tickets {
	background-color: #fff;
}
.submit {
	background-color: #fff;
}

#main {
	box-sizing: border-box;
	width: 100%;
	padding-top: 10%;
	padding-bottom: 2.5rem;
}

#about {
	max-width: 100%;
	margin: 5% auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 60%;
	position: absolute;
	top: 35%;
	left: 20%;
	transform: translateY(-50%);
}

#about_text {
	color: var(--secondary-color);
}

.about_title {
	margin-bottom: 2rem;
	font-weight: 300;
	font-size: 2rem;
	width: 100%;
	border-bottom: 0.15rem solid var(--secondary-color);
	color: var(--secondary-color);
}

#about_text p {
	width: 100%;
	color: var(--secondary-color);
	font-size: 1.2rem;
	font-weight: 300;
}

#main_page {
	max-width: 60%;
	margin: 3rem auto;
	margin-top: 3rem;
}

#main_page_text {
	display: flex;
	justify-content: space-between;
	color: var(--primary-color);
}

.main_page_title {
	margin-bottom: 3rem;
	font-weight: 300;
	font-size: 2rem;
	width: 60%;
	color: var(--secondary-color);
}

#tickets_list {
	width: 100%;
}

.custom-button {
	background-color: var(--twelve-color);
	color: var(--primary-color);
	border: none;
	padding: 0.5rem 1.5rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1rem;
	cursor: pointer;
	border-radius: 2rem;
  }
  
  .custom-button:hover {
	background-color: var(--thirteen-color);
  }
  
#info_text .custom-button {
	margin-top: 2rem;
}

.submit_ticket_btn {
	border: none;
	background: var(--primary-color);
	color: var(--secondary-color);
	font-size: 3rem;
	cursor: pointer;
	position: relative;
	bottom: 0.3rem;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 60%;
	position: absolute;
	top: 50%;
	left: 20%;
	transform: translateY(-50%);
	text-align: center;
}

.content h1 {
	font-size: 6rem;
	font-family: "Poppins", sans-serif;
	position: relative;
	color: var(--primary-color);
	-webkit-text-stroke: 0.01vw #595959;
	white-space: nowrap;
}

.content h1::before {
	content: attr(data-text);
	position: absolute;
	width: 0%;
	height: 100%;
	color: var(--secondary-color);
	-webkit-text-stroke: 0vw #595959;
	border-right: 0.4rem solid var(--secondary-color);
	overflow: hidden;
	animation: animate 6s linear;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes animate {
	0%,
	10% {
		width: 0%;
	}
	70%,
	90%,
	100% {
		width: 100%;
	}
}

.content p {
	margin: 1rem auto;
	font-size: 1.2rem;
	font-weight: 300;
	line-height: 1.3rem;
	color: var(--secondary-color);
}

#info {
	max-width: 60%;
	margin: 5% auto;
	display: flex;
	justify-content: space-between;
}

#info_text {
	width: 100%;
}

.user_profile_title {
	margin-bottom: 2rem;
	font-weight: 300;
	font-size: 2rem;
	width: 100%;
	border-bottom: 0.2rem solid var(--secondary-color);
	color: var(--secondary-color);
}

.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	color: var(--secondary-color);
}

.attribute > span {
	font-weight: 300;
	font-size: 1.7rem;
}

.attribute > .label {
	font-family: "Source Code Pro", monospace;
}

.single-input {
	position: relative;
	margin: 0;
}

.user_profile_input {
	width: 100%;
	border: 0;
	border-bottom: 0.2rem solid var(--six-color);
	outline: 0;
	font-size: 1.4rem;
	color: var(--six-color);
	background-color: var(--primary-color);
	border-bottom: 0.2rem solid var(--secondary-color);
}

.single-input label {
	position: absolute;
	top: -2.3rem;
	bottom: 0;
	left: 0;
	font-family: "Source Code Pro", monospace;
	font-weight: lighter;
	font-size: 1.5rem;
	color: var(--six-color);
	cursor: text;
	pointer-events: none;
}

.questions_box {
	max-width: 60%;
	margin: 5% auto;
	color: var(--secondary-color);
}

.title {
	display: flex;
	justify-content: space-between;
}

.title > h2 {
	margin-bottom: 1rem;
	font-weight: 300;
	font-size: 2rem;
	border-bottom: 0.15rem solid var(--secondary-color);
	color: var(--secondary-color);
	width: 90%;
}

.question {
	padding-top: 2rem;
}

.question > h2 {
	font-family: "Source Code Pro", monospace;
	font-weight: 100;
	font-size: 1.5rem;
	text-decoration: underline 0.15rem rgb(128, 126, 126);
	text-decoration-style: dashed;
	text-underline-offset: 0.3rem;
	padding-bottom: 1rem;
}

.question > p {
	padding-top: 1rem;
	padding-left: 1.5rem;
	font-weight: 300;
	font-size: 1rem;
	color: rgb(128, 126, 126);
}

.add_question {
	border: none;
	background-color: var(--primary-color);
	font-size: 3rem;
	cursor: pointer;
}

.faq_message > h2 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5%;
	font-weight: 300;
	font-size: 2rem;
}

.faq_input {
	background-color: rgb(245, 246, 250);
	margin: 2rem auto;
	border: 0.15rem solid rgb(219, 221, 226);
	border-radius: 1rem;
	padding: 2rem;
	max-width: 60%;
}

.faq_input > label {
	font-family: "Source Code Pro", monospace;
	font-weight: 100;
	display: block;
	font-size: 1rem;
	margin: 1rem 0;
}

.faq_input > input,
.faq_input > textarea {
	display: block;
	width: 100%;
}

.faq_input > textarea {
	height: 20rem;
	resize: none;
	font-size: 1rem;
}

.faq_input > .input {
	display: block;
	width: 98%;
	border: 0.15rem solid rgb(219, 221, 226);
	padding: 0.5rem;
	outline: none;
	border-radius: 1rem;
}

.faq_input > .submit_btn {
	background: none;
	margin-top: 1rem;
	color: rgb(128, 126, 126);
	border: 0.139rem solid #000000;
	border-radius: 1rem;
	font-size: 1rem;
	font-weight: 650;
	transition: 0.6s;
	overflow: hidden;
	height: 2.5rem;
}

.faq_input > .submit_btn:focus {
	outline: none;
}

.faq_input > .submit_btn:hover {
	background: #000000;
	color: rgb(255, 255, 255);
	font-weight: 600;
	cursor: pointer;
}

.input {
	color: var(--secondary-color);
}

.other_user {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	color: var(--secondary-color);
	font-size: 2.1rem;
	font-weight: bold;
	border-bottom: 0.15rem solid var(--nine-color);
	background-color: var(--nine-color);
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	width: 200%;
	border-bottom: 0.15rem solid var(--nine-color);
}

.chat-container {
	width: 199%;
	height: 35rem;
	border: 0.15rem solid var(--nine-color);
	color: var(--secondary-color);
	background-color: var(--eleven-color);
}

.chat-container {
	border-bottom: 0.15rem solid var(--nine-color);
	border-top: 0.15rem solid var(--nine-color);
}

.message {
	padding: 1rem;
	border-bottom: 0.15rem solid var(--nine-color);
	text-align: justify;
	outline: none;
}

.message .sender {
	font-weight: bold;
	padding-right: 1rem;
}

.message.sent .sender {
	text-align: right;
}

.message.sent .text {
	border-radius: 1rem;
}

.input-container {
	position: relative;
}

.input-container input {
	width: 194%;
	padding: 0.65rem;
	background-color: var(--eleven-color);
	border: 0.15rem solid var(--nine-color);
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	color: var(--secondary-color);
}

.input-container input {
	border-top: 0.15rem solid var(--nine-color);
}

.input-container > .submit_btn {
	padding: 0.65rem;
	width: 20%;
	background-color: var(--eleven-color);
	border: 0.15rem solid var(--nine-color);
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	border-top-left-radius: 1rem;
	cursor: pointer;
	color: var(--secondary-color);
	position: absolute;
	top: 0;
	right: -25rem;
}

.input-container > .submit_btn {
	border-top: 0.15rem solid var(--nine-color);
	background-color: var(--nine-color);
}

.input-container > .submit_btn:hover {
	background: #000000;
	color: rgb(255, 255, 255);
	font-weight: 500;
	cursor: pointer;
}

.chat-container {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}

.chat-container::-webkit-scrollbar {
	width: 1rem;
}

.chat-container::-webkit-scrollbar-thumb {
	background-color: var(--nine-color);
}

.chat-container::-webkit-scrollbar-track {
	background-color: var(--eleven-color);
}

.chat {
	box-sizing: border-box;
	max-width: 25rem;
	margin: 2rem auto;
}

.chat_page {
	box-sizing: border-box;
	max-width: 300rem;
	margin: 5% auto;
}

.message_time {
	font-size: 1rem;
	color: var(--five-color);
}

.ticket_details {
	box-sizing: border-box;
	border: var(--nine-color) 0.15rem solid;
	position: absolute;
	left: 16%;
	width: 21%;
	height: 40rem;
	border-radius: 1rem;
	color: var(--secondary-color);
	background-color: var(--eleven-color);
	padding: 2rem;
	padding-top: 1rem;
}

.ticket_details_info p {
	overflow-wrap: break-word;
	word-break: break-word;
	hyphens: auto;
	margin-bottom: 1rem;
}

.ticket_details_info h2 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 2rem;
	margin-bottom: 5%;
}

.ticket_details_text {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 1rem;
	font-weight: bold;
}

.ticket_details_info .initial_text {
	font-size: 1rem;
	font-weight: bolder;
}

.ticket_details_info .details {
	font-size: 1rem;
	font-weight: bolder;
	overflow-y: auto;
	max-height: 20rem;
	scrollbar-width: thin;
	scrollbar-color: var(--eleven-color) var(--eleven-color);
	padding-right: 1rem;
	text-align: justify;
}

.ticket_details_info .details::-webkit-scrollbar {
	width: 1rem;
}

.ticket_details_info .details::-webkit-scrollbar-thumb {
	background-color: var(--nine-color);
}

.ticket_details_info .details::-webkit-scrollbar-track {
	background-color: var(--eleven-color);
}

.ticket_details_info span {
	font-size: 1rem;
	font-weight: 300;
	text-decoration: none;#page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-promote,
.admin-department {
  margin-bottom: 2rem;
}

.admin-promote h2,
.admin-department h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.label {
  font-size: 1.2rem;
}

.promote_admin,
.department_admin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promote_admin select,
.department_admin input[type="text"] {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.promote_btn,
.submit-department {
  padding: 0.8rem 2rem;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .promote_admin,
  .department_admin {
    width: 50%;
  }
}

}

.ticket_details_trailing .initial_text {
	font-size: 1rem;
	font-weight: bolder;
}

.ticket_details_trailing span {
	font-size: 1rem;
	font-weight: 300;
	text-decoration: none;
}
.message.sent {
	box-sizing: border-box;
	padding-left: 1rem;
	text-align: justify;
	text-align-last: right;
}

#footer {
	box-sizing: border-box;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
	padding: 1rem 20%;
	margin-bottom: 2rem;
}

.copyright {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: auto;
	border-top: 0.15rem solid var(--secondary-color);
	border-radius: 0.15rem;
}

.left li,
.right li {
	display: inline-block;
	padding: 1rem 0.3rem;
	font-size: 1rem;
	color: var(--quartiary-color);
}

.right li {
	font-size: 1.4rem;
}

.left a,
.right a {
	text-decoration: none;
	list-style: none;
	color: var(--quartiary-color);
}

.right li a > ion-icon {
	position: relative;
	top: 0.15rem;
}

.user_tickets_list {
	background-color: var(--eight-color);
	border-radius: 1rem;
	padding: 1rem;
	border: 0.15rem solid var(--nine-color);
	visibility: hidden;
	transition: transform 0.4s;
}

.department_tickets_list {
	background-color: var(--eight-color);
	border-radius: 1rem;
	padding: 1rem;
	border: 0.15rem solid var(--nine-color);
	visibility: hidden;
	transition: transform 0.4s;
}

.ticket {
	background-color: var(--eleven-color);
	border-radius: 1rem;
	margin: 1rem;
	padding: 1rem;
	box-sizing: border-box;
	color: var(--secondary-color);
	border: 0.15rem solid var(--nine-color);
	text-decoration: none;
}

/* admin section*/

.admin-page {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh;
  }

.admin-promote {
	margin-right: 3em;
}

.admin-department {
	margin-left: 3em;
}

.admin-page .username{
	margin-bottom: 0.7em;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
  }
  
.content {
	width: 100%;
	padding: 2rem;
	background-color: #f4f4f4;
	border-radius: 2rem;
  }
  
  .admin-promote,
  .admin-department {
	margin-bottom: 2rem;
  }
  
  .admin-promote h2,
  .admin-department h2 {
	font-size: 2rem;
	margin-bottom: 1rem;
  }
  
  .label {
	font-size: 1.2rem;
  }
  
  .promote_admin,
  .department_admin {
	display: flex;
	flex-direction: column;
	
  }
  
  .promote_admin select,
  .department_admin input[type="text"] {
	width: 100%;
	padding: 0.8rem;
	margin-bottom: 1rem;
	font-size: 1rem;
  }
  
  .promote_btn,
  .submit-department {
	padding: 0.8rem 2rem;
	font-size: 1rem;
  }
  
  @media (min-width: 768px) {
	.promote_admin,
	.department_admin {
	  width: 50%;
	}
  }
  

.admin-section {
	position: relative;
	margin-top: 10em;
	border: 1px solid #ccc;
	padding: 10px;
}
.admin-section h2 {
	margin-top: 0;
}
.admin-form {
	margin-bottom: 10px;
}
.admin-form label {
	display: block;
	margin-bottom: 5px;
}
.admin-form input[type="text"] {
	width: 200px;
	padding: 5px;
}
.admin-form input[type="submit"] {
	padding: 5px 10px;
	background-color: #4caf50;
	color: white;
	border: none;
	cursor: pointer;
}


.tickets_list a:link {
	text-decoration: none;
}

.tickets_list a:visited {
	text-decoration: none;
}

.all_tickets_list a:link {
	text-decoration: none;
}

.all_tickets_list a:visited {
	text-decoration: none;
}

.all_tickets_list a:hover {
	text-decoration: none;
}

.all_tickets_list a:active {
	text-decoration: none;
}

.user_tickets_list a:link {
	text-decoration: none;
}

.user_tickets_list a:visited {
	text-decoration: none;
}

.user_tickets_list a:hover {
	text-decoration: none;
}

.user_tickets_list a:active {
	text-decoration: none;
}

.department_tickets_list a:link {
	text-decoration: none;
}

.department_tickets_list a:visited {
	text-decoration: none;
}

.department_tickets_list a:hover {
	text-decoration: none;
}

.department_tickets_list a:active {
	text-decoration: none;
}

.opened_tickets a:link {
	text-decoration: none;
}

.opened_tickets a:visited {
	text-decoration: none;
}

.opened_tickets a:hover {
	text-decoration: none;
}

.opened_tickets a:active {
	text-decoration: none;
}

.tickets_list a:active {
	text-decoration: none;
}

.ticket_info p {
	overflow-wrap: break-word;
	word-break: break-word;
	hyphens: auto;
	margin-bottom: 1rem;
}

.ticket_info h4 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 2rem;
	margin-bottom: 1%;
}

.ticket_info .details {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 1rem;
	font-weight: bold;
	text-align: justify;
}

.ticket_info .initial_text {
	font-size: 1rem;
	font-weight: bolder;
}

.ticket_info span {
	font-size: 1rem;
	font-weight: 300;
	text-decoration: none;
}

.ticket_trailing .initial_text {
	font-size: 1rem;
	font-weight: bolder;
}

.ticket_trailing span {
	font-size: 1rem;
	font-weight: 300;
	text-decoration: none;
}

.open-popup1 {
	visibility: visible;
}
.open-popup2 {
	visibility: visible;
}
.open-popup3 {
	visibility: visible;
}
