@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Source+Code+Pro:wght@300&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "Inter", sans-serif;
}

#page-container {
	position: relative;
	min-height: 100vh;
}

/* Navigation Bar*/

#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 99;
	position: fixed;
	width: 100%;
	padding: 20px 30px;
	background: rgb(25, 22, 21);
	pointer-events: all;
}

.header.disable-header {
	pointer-events: none;
}

#info {
	position: absolute;
	left: 100px;
	margin-top: 75px;
	color: #000;
	line-height: 50px;
	font-size: 0.9em;
}

#info ul {
	list-style-type: none;
}

#profile_img {
	position: absolute;
	top: 100px;
	right: 200px;
	transform: scale(0.6);
}

.logo {
	font-size: 2em;
	color: #fff;
	user-select: none;
}

#info h1 {
	font-size: 2.4em;
	position: relative;
	top: 0px;
	padding-top: 20px;
	opacity: 100;
}

#info h1::after {
	content: "";
	display: block;
	height: 1px;
	width: 700px;
	background-color: #000;
	position: absolute;
	bottom: -1px;
	left: 0;
	right: 0;
}

.navigation a {
	position: relative;
	font-size: 1.2em;
	font-weight: 700;
	color: white;
	margin-right: 60px;
	text-decoration: none;
}

.navigation a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -6px;
	width: 100%;
	height: 3px;
	background: #fff;
	border-radius: 5px;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform 0.5s;
}

.navigation a:hover::after {
	transform-origin: left;
	transform: scaleX(1);
}

.navigation .btnLogin {
	width: 130px;
	height: 40px;
	background: transparent;
	border: 2px solid #fff;
	border-radius: 6px;
	outline: none;
	font-size: 1.2em;
	font-weight: 700;
	color: #fff;
	margin-right: 60px;
	cursor: pointer;
	transition: 0.5s;
}

.navigation .btnLogin:hover {
	background: #fff;
	color: black;
}

/* Login and Register Popups */

.wrapper {
	position: relative;
	width: 400px;
	height: 440px;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	backdrop-filter: blur(20px);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transform: scale(0);
	transition: transform 0.2s ease, height 0.2s ease;
}

.wrapper.active-popup {
	transform: scale(1);
}

.wrapper.active {
	height: 520px;
}

.wrapper .form-box {
	width: 100%;
	padding: 40px;
}

.wrapper .form-box.login {
	transition: transform 0.18s ease;
	transform: translateX(0);
}

.wrapper.active .form-box.login {
	transition: none;
	transform: translateX(-400px);
}

.wrapper .form-box.register {
	position: absolute;
	transition: none;
	transform: translateX(400px);
}

.wrapper.active .form-box.register {
	transition: transform 0.18s ease;
	transform: translateX(0);
}

.wrapper .icon-close {
	position: absolute;
	top: 0;
	right: 0;
	width: 45px;
	height: 45px;
	font-size: 2em;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom-left-radius: 20px;
	cursor: pointer;
	z-index: 1;
}

.form-box h2 {
	font-size: 2em;
	color: white;
	text-align: center;
}

.input-box {
	position: relative;
	width: 100%;
	height: 50px;
	border-bottom: 2px solid white;
	margin: 30px 0;
}

.input-box label {
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	font-size: 1em;
	color: white;
	font-weight: 500;
	pointer-events: none;
	transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
	top: -5px;
}

.input-box input {
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	font-size: 1em;
	color: white;
	font-weight: 600;
	padding: 0 35px 0 5px;
}

.input-box .icon {
	position: absolute;
	right: 8px;
	font-size: 1.2em;
	color: white;
	line-height: 57px;
}

.remember-forgot {
	font-size: 0.9em;
	color: white;
	font-weight: 50px;
	margin: -15px 0 15px;
	display: flex;
	justify-content: space-between;
}

.remember-forgot label input {
	accent-color: white;
	margin-right: 3px;
}

.remember-forgot a {
	color: white;
	text-decoration: none;
}

.remember-forgot a:hover {
	text-decoration: underline;
}

.btn {
	width: 100%;
	height: 45px;
	background: white;
	border: none;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 1em;
	color: black;
	font-weight: 500;
}

.login-register {
	font-size: 0.9em;
	color: white;
	text-align: center;
	font-weight: 500;
	margin: 25px 0 10px;
}

.login-register p a {
	color: white;
	text-decoration: none;
	font-weight: 600;
}

.login-register p a:hover {
	text-decoration: underline;
}

/* Main */

#main {
	box-sizing: border-box;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 2.5rem;
}

/* FAQ Page */

.questions_box {
	margin: 100px 300px;
}

.title {
	display: flex;
	justify-content: space-between;
}

.title > h2 {
	margin-bottom: 30px;
	font-weight: 300;
	font-size: 30px;
}

.question {
	padding-top: 50px;
}

.question > h2 {
	font-family: "Source Code Pro", monospace;
	font-weight: 100;
	font-size: 1.1em;
	text-decoration: underline 2px rgb(128, 126, 126);
	text-decoration-style: dashed;
	text-underline-offset: 6px;
	padding-bottom: 15px;
}

.question > p {
	padding-top: 15px;
	padding-left: 35px;
	font-weight: 300;
	font-size: 1.1em;
	color: rgb(128, 126, 126);
}

/* FAQ Page for Admins Only  */

.add_question {
	border: none;
	background-color: white;
	font-size: 3.7em;
	cursor: pointer;
}

/* Add a FAQ */

.faq_message > h2 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5%;
	font-weight: 300;
	font-size: 30px;
}

.faq_input {
	background-color: rgb(245, 246, 250);
	max-width: 1000px;
	margin: 2em auto;
	border: 2px solid rgb(219, 221, 226);
	border-radius: 20px;
	padding: 2em;
}

.faq_input > label {
	font-family: "Source Code Pro", monospace;
	font-weight: 100;
	display: block;
	font-size: 1.1em;
	margin: 10px 0;
}

.faq_input > input,
.faq_input > textarea {
	display: block;
	width: 100%;
}

.faq_input > textarea {
	height: 200px;
	resize: none;
	font-size: 15;
}

.faq_input > .input {
	display: block;
	width: 98%;
	border: 1px solid rgb(219, 221, 226);
	padding: 0.5em;
	outline: none;
	border-radius: 7px;
}

.faq_input > .submit_btn {
	font-size: 18px;
	color: white;
	border-radius: 17px;
	border-color: rgb(25, 22, 21);
	background-color: rgb(25, 22, 21);
	padding: 0.5em;
	margin-top: 2em;
}

/* Footer */

#footer {
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
	padding: 5px 300px;
}

.copyright {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: auto;
	border-top: 3px solid rgb(25, 22, 21);
	border-radius: 1px;
}

.left li,
.right li {
	display: inline-block;
	padding: 10px 5px;
	font-size: 1em;
	color: rgb(78, 76, 76);
}

.right li {
	font-size: 1.5em;
}

.left a,
.right a {
	text-decoration: none;
	list-style: none;
	color: rgb(78, 76, 76);
}
